<h1>Welcome to Amazing Records!</h1>

<%  for album in @albums %>
  <p>Artist: <%= Artist.find(album.artist_id).name %></p>
  <p>Title: <%= album.title %></p>
  <p>Genre: <%= album.genre %></p>
  <p>Buy price: <%= album.buy_price %></p>
  <p>Sell price: <%= album.sell_price %></p>
  <p>Mark up: <%= album.mark_up %></p>
  <p>Quantity: <%= album.quantity %></p>
  <p>Stock level: <%= album.stock_level %></p>
  <p>
  <a href="/album/<%= album.id %>/update"> update</a>
  </p>
  <form method="post" action="/album/<%= album.id %>/delete">
    <input type="submit"  value="Delete album" />
  </form>
  <a href="/album">Add new album</a>
  <a href="/artist">Add new artist</a>

    <hr/>
<% end %>
